<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <title>montando o lanche</title>
</head>
<body>
  <nav class="navbar bg-light">
    <div class="container">
      <span class="navbar-brand mb-0 h1">Monte o seu Lanche!</span>
    </div>
  </nav>
  <div class="container">
    <div id="app">
      <div class="row">
        <div class="col-md-6">
          <div class="row mt-2">
            <div class="row">
              <img :src="pao[0]" alt="pão superior" />
              <img :src="salada" alt="alface" />
              <img :src="ketchup" alt="ketchup" />
              <img :src="mostarda" alt="mostarda" />
              <img :src="maionese" alt="maionese" />
              <img :src="carne" alt="hamburger" />
              <img :src="pao[1]" alt="pão inferior" />
            </div>
          </div>
        </div>

        <div class="col-md-6" v-if="etapa === 1">
          <div class="row mt-4">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  ESCOLHA O SEU PÃO
                </div>
                <div class="card-body">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="italiano" v-model="tipoDoPao" />
                    <label class="form-check-label">
                      Italiano
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="australiano" v-model="tipoDoPao" />
                    <label class="form-check-label">
                      Australiano
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  ESCOLHA A SUA SALADA
                </div>
                <div class="card-body">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="alface" v-model="tipoDaSalada" />
                    <label class="form-check-label">
                      Alface
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  ESCOLHA O SEU MOLHO
                </div>
                <div class="card-body">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="ketchup" v-model="tipoDeMolho" />
                    <label class="form-check-label">
                      Ketchup
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="mostarda" v-model="tipoDeMolho" />
                    <label class="form-check-label">
                      Mostarda
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="maionese" v-model="tipoDeMolho" />
                    <label class="form-check-label">
                      Maionese
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  ESCOLHA A SUA CARNE
                </div>
                <div class="card-body">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="bovina" v-model="tipoDaCarne" />
                    <label class="form-check-label">
                      Bovina
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="frango" v-model="tipoDaCarne" />
                    <label class="form-check-label">
                      Frango
                    </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="soja" v-model="tipoDaCarne" />
                    <label class="form-check-label">
                      Soja
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <button
                type="button"
                class="btn btn-success"
                @click="proxEtapa()"
              >
                Finalizar Pedido
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-6" v-if="etapa === 2">
          <div class="row mt-4">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  INFORME SEUS DADOS
                </div>
                <div class="card-body">
                  <div class="mb-3">
                    <div class="mt-2">
                      <p>Nome:</p>
                      <input type="text" class="form-control" v-model="nome" />
                    </div>
                    <div class="mt-2">
                      <p>Endereço:</p>
                      <input type="text" class="form-control" v-model="endereco" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./script.js"></script>
</body>
</html>