.super-mario {
  position: absolute;
  left: 40px;
  width: 200px;
  z-index: 1;
}

.goomba {
  position: absolute;
  width: 100px;
  top: 385px;
  z-index: 2;
}

.baloon {
  position: absolute;
  left: 340px;
  z-index: 4;

}

.speach {
  position: absolute;
  top: 120px;
  left: 365px;
  font-size: 25px;
  z-index: 5;
}

.bowser {
  position: absolute;
  top: 250px;
  left: 600px;
  width: 400px;
  z-index: 3;
}