<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="style.css">
  <title>Primeiro App em Vue</title>
</head>
<body>
  <div id="app">
    <form>
      <div v-show="!enviado">
        <span>Nome Completo:</span>
        <input type="text" id="nomeInput"> <br />
        <span>Número De Telefone</span>
        <input type="number" id="telefoneInput"> <br />
        <button @click="setInfos" type="button">
          <p v-if="!enviado">Enviar Forms</p>
          <p v-if="enviado">Forms Enviado</p>
        </button>
      </div>
      <div v-show="enviado">
        <p>Seu nome é: {{ nome }}</p>
        <p>Seu telefone é: {{ telefone }}</p>
        <p>Entraremos em Contato em Breve!</p>
        <button type="button" @click="enviado = false">Voltar</button>
      </div>
    </form>
  </div>
  <script src="./script.js"></script>
</body>
</html>