    body { 
      background-color: black;
      font-size: 16px;
    }

    h1 {
      color: orange;
      font-family: Arial, Helvetica, sans-serif;
    }

    .lista {
      background-color: grey;
      color: white
    }

    p {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-size: 2em;
     }