html {
   box-sizing: border-box;
  }

*, *:before, *:after {
   box-sizing: inherit;
}

@media (max-width: 768px){
    body {
        background-color: antiquewhite;
    }
    .container {
        margin: 3%;
        font-size: 2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h1, h2, h3 {
        text-align: center;
        font-weight: bolder;
    }
    header ul{
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;
    }
}

@media (min-width: 769px) {
    body {
        background-color: aqua;
    }
    .container {
        margin: 3%;
        font-size: 2.3rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h1, h2, h3 {
        text-align: center;
        font-weight: bolder;
    }
    header ul{
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;
    }
}

@media (min-width: 1366px) {
    body {
        background-color: beige;
    }
    .container {
        margin: 3%;
        font-size: 2.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h1, h2, h3 {
        text-align: center;
        font-weight: bolder;
    }
    header ul{
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;
    }
}